.register-box {
    box-sizing: content-box;
    z-index: 1;
    padding: 0 0 0 0;
    overflow-x: hidden;
    text-align: center;
    position: fixed;
    margin: 0 0 200px 400px;
    bottom: 0;
    height: 414px;
    background: #eee;
    border-radius: 5px;
}